In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import plotly.graph_objects as go
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score
sns.set_style("darkgrid")
pd.set_option("display.max_columns", None)
pd.options.plotting.backend = "plotly"
warnings.filterwarnings("ignore")

In [2]:

df = pd.read_csv("C://Users/itzha/Downloads/New folder/autism_screening.csv")
df

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,United States,no,6.0,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Brazil,no,5.0,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Spain,no,8.0,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,United States,no,6.0,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40.0,f,?,no,no,Egypt,no,2.0,18 and more,?,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,25.0,f,White-European,no,no,Russia,no,7.0,18 and more,Self,YES
700,1,0,0,0,0,0,0,1,0,1,34.0,m,Hispanic,no,no,Mexico,no,3.0,18 and more,Parent,NO
701,1,0,1,1,1,0,1,1,0,1,24.0,f,?,no,no,Russia,no,7.0,18 and more,?,YES
702,1,0,0,1,1,0,1,0,1,1,35.0,m,South Asian,no,no,Pakistan,no,6.0,18 and more,Self,NO
703,1,0,1,1,1,0,1,1,1,1,26.0,f,White-European,no,no,Cyprus,no,8.0,18 and more,Self,YES

In [3]:
print(f'Shape of dataframe is: {df.shape}')

Shape of dataframe is: (704, 21)

In [4]:
pd.DataFrame(df.dtypes,
             columns = ["Data Type"])

                Data Type
A1_Score            int64
A2_Score            int64
A3_Score            int64
A4_Score            int64
A5_Score            int64
A6_Score            int64
A7_Score            int64
A8_Score            int64
A9_Score            int64
A10_Score           int64
age               float64
gender             object
ethnicity          object
jundice            object
austim             object
contry_of_res      object
used_app_before    object
result            float64
age_desc           object
relation           object
Class/ASD          object

In [5]:
df.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,result
count,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,704.000000,702.000000,704.000000
mean,0.721591,0.453125,0.457386,0.495739,0.498580,0.284091,0.417614,0.649148,0.323864,0.573864,29.698006,4.875000
std,0.448535,0.498152,0.498535,0.500337,0.500353,0.451301,0.493516,0.477576,0.468281,0.494866,16.507465,2.501493
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,3.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,27.000000,4.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,35.000000,7.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,383.000000,10.000000

In [6]:
pd.DataFrame(df.isnull().sum(), columns=["Missing Values"]).style.bar(color = "#84A9AC")

In [7]:
print(f"Maximum age is data: {df['age'].max()}\n")

print(f"Minimum age is data: {df['age'].min()}")

Maximum age is data: 383.0

Minimum age is data: 17.0

In [8]:
df[df['age'] == df['age'].max()]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
52,1,0,0,0,0,0,0,0,0,0,383.0,f,Pasifika,no,no,New Zealand,no,1.0,18 and more,Self,NO

In [9]:
# dropping record number 52
df.drop(index = 52, inplace = True)

# resetting index
df.reset_index(inplace = True)

In [10]:
df['age'] = df['age'].fillna(np.round(df['age'].mean(), 0))

In [11]:
pd.DataFrame(df.isnull().sum(), columns=["Missing Values"])

                 Missing Values
index                         0
A1_Score                      0
A2_Score                      0
A3_Score                      0
A4_Score                      0
A5_Score                      0
A6_Score                      0
A7_Score                      0
A8_Score                      0
A9_Score                      0
A10_Score                     0
age                           0
gender                        0
ethnicity                     0
jundice                       0
austim                        0
contry_of_res                 0
used_app_before               0
result                        0
age_desc                      0
relation                      0
Class/ASD                     0

In [12]:
for col in df.select_dtypes('O').columns:
    print("-------------------------------")
    print(f'Column name: {col}\n')
    print(f'Unique values:\n{df[col].unique()}\n\n')

-------------------------------
Column name: gender

Unique values:
['f' 'm']


-------------------------------
Column name: ethnicity

Unique values:
['White-European' 'Latino' '?' 'Others' 'Black' 'Asian' 'Middle Eastern '
 'Pasifika' 'South Asian' 'Hispanic' 'Turkish' 'others']


-------------------------------
Column name: jundice

Unique values:
['no' 'yes']


-------------------------------
Column name: austim

Unique values:
['no' 'yes']


-------------------------------
Column name: contry_of_res

Unique values:
['United States' 'Brazil' 'Spain' 'Egypt' 'New Zealand' 'Bahamas'
 'Burundi' 'Austria' 'Argentina' 'Jordan' 'Ireland' 'United Arab Emirates'
 'Afghanistan' 'Lebanon' 'United Kingdom' 'South Africa' 'Italy'
 'Pakistan' 'Bangladesh' 'Chile' 'France' 'China' 'Australia' 'Canada'
 'Saudi Arabia' 'Netherlands' 'Romania' 'Sweden' 'Tonga' 'Oman' 'India'
 'Philippines' 'Sri Lanka' 'Sierra Leone' 'Ethiopia' 'Viet Nam' 'Iran'
 'Costa Rica' 'Germany' 'Mexico' 'Russia' 'Armenia' 'Iceland' 'Nicaragua'
 'Hong Kong' 'Japan' 'Ukraine' 'Kazakhstan' 'AmericanSamoa' 'Uruguay'
 'Serbia' 'Portugal' 'Malaysia' 'Ecuador' 'Niger' 'Belgium' 'Bolivia'
 'Aruba' 'Finland' 'Turkey' 'Nepal' 'Indonesia' 'Angola' 'Azerbaijan'
 'Iraq' 'Czech Republic' 'Cyprus']


-------------------------------
Column name: used_app_before

Unique values:
['no' 'yes']


-------------------------------
Column name: age_desc

Unique values:
['18 and more']


-------------------------------
Column name: relation

Unique values:
['Self' 'Parent' '?' 'Health care professional' 'Relative' 'Others']


-------------------------------
Column name: Class/ASD

Unique values:
['NO' 'YES']

In [13]:
df['ethnicity'] = df['ethnicity'].replace('?', 'Others')

In [14]:
df['ethnicity'] = df['ethnicity'].replace('others', 'Others')

In [15]:
df['ethnicity'].unique()

array(['White-European', 'Latino', 'Others', 'Black', 'Asian',
       'Middle Eastern ', 'Pasifika', 'South Asian', 'Hispanic',
       'Turkish'], dtype=object)

In [16]:
df['relation'] = df['relation'].replace('?', df['relation'].mode()[0])

In [17]:
df['relation'].unique()

array(['Self', 'Parent', 'Health care professional', 'Relative', 'Others'],
      dtype=object)

In [18]:
df.head()

,index,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,United States,no,6.0,18 and more,Self,NO
1,1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Brazil,no,5.0,18 and more,Self,NO
2,2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Spain,no,8.0,18 and more,Parent,YES
3,3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,United States,no,6.0,18 and more,Self,NO
4,4,1,0,0,0,0,0,0,1,0,0,40.0,f,Others,no,no,Egypt,no,2.0,18 and more,Self,NO

In [19]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [20]:
#drop multiple columns by name
df.drop(['index'], axis=1, inplace=True)

In [21]:
df['age_desc'] = le.fit_transform(df['age_desc'])

In [22]:
df['gender'].unique()

array(['f', 'm'], dtype=object)

In [23]:
df['gender']= df['gender'].apply(lambda x: 1 if x == 'm' else (0 if x == 'f' else None))

In [24]:
df['jundice'].unique()

array(['no', 'yes'], dtype=object)

In [25]:
df['jundice']= df['jundice'].apply(lambda x: 1 if x == 'yes' else (0 if x == 'no' else None))

In [26]:
df['austim'].unique()

array(['no', 'yes'], dtype=object)

In [27]:
df['austim']= df['austim'].apply(lambda x: 1 if x == 'yes' else (0 if x == 'no' else None))

In [28]:
df['contry_of_res'].unique()

array(['United States', 'Brazil', 'Spain', 'Egypt', 'New Zealand',
       'Bahamas', 'Burundi', 'Austria', 'Argentina', 'Jordan', 'Ireland',
       'United Arab Emirates', 'Afghanistan', 'Lebanon', 'United Kingdom',
       'South Africa', 'Italy', 'Pakistan', 'Bangladesh', 'Chile',
       'France', 'China', 'Australia', 'Canada', 'Saudi Arabia',
       'Netherlands', 'Romania', 'Sweden', 'Tonga', 'Oman', 'India',
       'Philippines', 'Sri Lanka', 'Sierra Leone', 'Ethiopia', 'Viet Nam',
       'Iran', 'Costa Rica', 'Germany', 'Mexico', 'Russia', 'Armenia',
       'Iceland', 'Nicaragua', 'Hong Kong', 'Japan', 'Ukraine',
       'Kazakhstan', 'AmericanSamoa', 'Uruguay', 'Serbia', 'Portugal',
       'Malaysia', 'Ecuador', 'Niger', 'Belgium', 'Bolivia', 'Aruba',
       'Finland', 'Turkey', 'Nepal', 'Indonesia', 'Angola', 'Azerbaijan',
       'Iraq', 'Czech Republic', 'Cyprus'], dtype=object)

In [29]:
df['contry_of_res'] = le.fit_transform(df['contry_of_res'])

In [30]:
df['used_app_before'] = le.fit_transform(df['used_app_before'])

In [31]:
df['relation'] = le.fit_transform(df['relation'])

In [32]:
df['ethnicity'] = le.fit_transform(df['ethnicity'])

In [33]:
df['relation'] = le.fit_transform(df['relation'])

In [34]:
df['Class/ASD'].unique()

array(['NO', 'YES'], dtype=object)

In [35]:
df['Class/ASD']= df['Class/ASD'].apply(lambda x: 1 if x == 'YES' else (0 if x == 'NO' else None))

In [36]:
df.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,26.0,0,9,0,0,64,0,6.0,0,4,0
1,1,1,0,1,0,0,0,1,0,1,24.0,1,3,0,1,13,0,5.0,0,4,0
2,1,1,0,1,1,0,1,1,1,1,27.0,1,3,1,1,56,0,8.0,0,2,1
3,1,1,0,1,0,0,1,1,0,1,35.0,0,9,0,1,64,0,6.0,0,4,0
4,1,0,0,0,0,0,0,1,0,0,40.0,0,5,0,0,22,0,2.0,0,4,0

In [37]:
#feature selection

In [38]:
X = df.drop('Class/ASD',axis=1)

In [39]:
X

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation
0,1,1,1,1,0,0,1,1,0,0,26.0,0,9,0,0,64,0,6.0,0,4
1,1,1,0,1,0,0,0,1,0,1,24.0,1,3,0,1,13,0,5.0,0,4
2,1,1,0,1,1,0,1,1,1,1,27.0,1,3,1,1,56,0,8.0,0,2
3,1,1,0,1,0,0,1,1,0,1,35.0,0,9,0,1,64,0,6.0,0,4
4,1,0,0,0,0,0,0,1,0,0,40.0,0,5,0,0,22,0,2.0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,0,1,0,1,1,0,1,1,1,1,25.0,0,9,0,0,51,0,7.0,0,4
699,1,0,0,0,0,0,0,1,0,1,34.0,1,2,0,0,40,0,3.0,0,2
700,1,0,1,1,1,0,1,1,0,1,24.0,0,5,0,0,51,0,7.0,0,4
701,1,0,0,1,1,0,1,0,1,1,35.0,1,7,0,0,47,0,6.0,0,4
702,1,0,1,1,1,0,1,1,1,1,26.0,0,9,0,0,19,0,8.0,0,4

In [40]:
y = df['Class/ASD']

In [41]:
y

0      0
1      0
2      1
3      0
4      0
      ..
698    1
699    0
700    1
701    0
702    1
Name: Class/ASD, Length: 703, dtype: int64

In [42]:
from sklearn.feature_selection import SelectKBest

In [43]:
from sklearn.feature_selection import chi2

In [44]:
FIT_FEATURES = SelectKBest(score_func=chi2)

In [45]:
FIT_FEATURES.fit(X,y)

SelectKBest(score_func=<function chi2 at 0x0000023AA3181310>)

In [46]:
SCORE_COL = pd.DataFrame(FIT_FEATURES.scores_,columns =['score value'])

In [47]:
NAME_COL = pd.DataFrame(X.columns)

In [48]:
topr_features = pd.concat([NAME_COL,SCORE_COL],axis=1)

In [49]:
topr_features.columns=['Top Features', 'Score']

In [50]:
topr_features

       Top Features       Score
0          A1_Score   17.443289
1          A2_Score   37.107832
2          A3_Score   73.983650
3          A4_Score   78.046165
4          A5_Score  101.379174
5          A6_Score  176.205769
6          A7_Score   50.380460
7          A8_Score   13.743203
8          A9_Score  191.750132
9         A10_Score   44.408393
10              age   39.549483
11           gender    2.224215
12        ethnicity   75.509209
13          jundice    6.583464
14           austim   19.205363
15    contry_of_res    1.686458
16  used_app_before    1.333911
17           result  606.539549
18         age_desc         NaN
19         relation    0.014468

In [51]:
topr_features.nlargest(16,'Score')

   Top Features       Score
17       result  606.539549
8      A9_Score  191.750132
5      A6_Score  176.205769
4      A5_Score  101.379174
3      A4_Score   78.046165
12    ethnicity   75.509209
2      A3_Score   73.983650
6      A7_Score   50.380460
9     A10_Score   44.408393
10          age   39.549483
1      A2_Score   37.107832
14       austim   19.205363
0      A1_Score   17.443289
7      A8_Score   13.743203
13      jundice    6.583464
11       gender    2.224215

In [52]:
#drop multiple columns by name
df.drop(['contry_of_res', 'relation', 'age_desc', 'used_app_before'], axis=1, inplace=True)

In [53]:
X = df.drop('Class/ASD',axis=1)

In [54]:
y = df['Class/ASD']

In [55]:
print(X.shape, y.shape)

(703, 16) (703,)

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.2, random_state= 10)

In [57]:
from sklearn.naive_bayes import GaussianNB 
model = GaussianNB()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
print(y_pred)

[0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 1
 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 1 0 0 1 1 0 0 0 1 0 0]

In [58]:
from sklearn.metrics import classification_report,confusion_matrix
CM=confusion_matrix(y_test,y_pred)
print("Confusion Matrix:\n",CM)
CR=classification_report(y_test,y_pred)
print("Performance:\n",CR)

Confusion Matrix:
 [[105   2]
 [  3  31]]
Performance:
               precision    recall  f1-score   support

           0       0.97      0.98      0.98       107
           1       0.94      0.91      0.93        34

    accuracy                           0.96       141
   macro avg       0.96      0.95      0.95       141
weighted avg       0.96      0.96      0.96       141

In [59]:
from sklearn.naive_bayes import BernoulliNB
BNG = BernoulliNB()
BNG.fit(X_train,y_train)
BNG_pred = BNG.predict(X_test)
BNG.score(X_test,y_test)

0.950354609929078

In [60]:
CM=confusion_matrix(y_test,BNG_pred)
print("Confusion Matrix:\n",CM)
CR=classification_report(y_test,BNG_pred)
print("Performance:\n",CR)

Confusion Matrix:
 [[103   4]
 [  3  31]]
Performance:
               precision    recall  f1-score   support

           0       0.97      0.96      0.97       107
           1       0.89      0.91      0.90        34

    accuracy                           0.95       141
   macro avg       0.93      0.94      0.93       141
weighted avg       0.95      0.95      0.95       141

In [61]:
from sklearn.naive_bayes import MultinomialNB
MNB = MultinomialNB()
MNB.fit(X_train,y_train)
MNB_pred = MNB.predict(X_test)
MNB.score(X_test,y_test)

0.8723404255319149

In [62]:
CM=confusion_matrix(y_test,MNB_pred)
print("Confusion Matrix:\n",CM)
CR=classification_report(y_test,MNB_pred)
print("Performance:\n",CR)

Confusion Matrix:
 [[94 13]
 [ 5 29]]
Performance:
               precision    recall  f1-score   support

           0       0.95      0.88      0.91       107
           1       0.69      0.85      0.76        34

    accuracy                           0.87       141
   macro avg       0.82      0.87      0.84       141
weighted avg       0.89      0.87      0.88       141

In [63]:
from sklearn.svm import SVC
SVM_rbf= SVC(kernel='rbf', random_state=10,gamma=3.0,C=1.5)
SVM_classifier=SVM_rbf.fit(X_train,y_train)
SVM_prediction=SVM_classifier.predict(X_test)

In [64]:
CM=confusion_matrix(y_test,SVM_prediction)
print("Confusion Matrix:\n",CM)
CR=classification_report(y_test,SVM_prediction)
print("Performance:\n",CR)

Confusion Matrix:
 [[107   0]
 [ 33   1]]
Performance:
               precision    recall  f1-score   support

           0       0.76      1.00      0.87       107
           1       1.00      0.03      0.06        34

    accuracy                           0.77       141
   macro avg       0.88      0.51      0.46       141
weighted avg       0.82      0.77      0.67       141

In [65]:
from sklearn.ensemble import RandomForestClassifier

In [66]:
Rfc = RandomForestClassifier()
Rfc.fit(X_train,y_train)
Rfc_predict = Rfc.predict(X_test)
Rfc.score(X_test,y_test)

1.0

In [67]:
CM=confusion_matrix(y_test,Rfc_predict)
print("Confusion Matrix:\n",CM)
CR=classification_report(y_test,Rfc_predict)
print("Performance:\n",CR)

Confusion Matrix:
 [[107   0]
 [  0  34]]
Performance:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       107
           1       1.00      1.00      1.00        34

    accuracy                           1.00       141
   macro avg       1.00      1.00      1.00       141
weighted avg       1.00      1.00      1.00       141

In [68]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(n_estimators=100,learning_rate=1)
ada.fit(X_train, y_train)
ada.predict(X_test)
ada.score(X_test,y_test)

1.0

In [69]:
from sklearn.linear_model import LinearRegression 
LR = LinearRegression() 
LR.fit(X_train,y_train)
LR_predict = LR.predict(X_test)
LR.score(X_test,y_test)

0.6568952534033123

In [70]:
from sklearn.metrics import mean_squared_error,r2_score,accuracy_score,precision_score,recall_score,f1_score
#f1_score(y_test,LR_predict)

In [71]:
mean_squared_error(y_test,LR_predict)

0.06278432011059555

In [72]:
r2_score(y_test,LR_predict)

0.6568952534033123

In [73]:
from sklearn.linear_model import SGDClassifier
SGD =  SGDClassifier(loss="hinge", penalty="l2")
SGD.fit(X_train,y_train)
SGD_pred = SGD.predict(X_test)
SGD.score(X_test,y_test)

0.8936170212765957

In [74]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
QDA = QuadraticDiscriminantAnalysis()
QDA.fit(X_train,y_train)
QDA_pred = QDA.predict(X_test)
QDA.score(X_test,y_test)

0.624113475177305

In [75]:
svcp = SVC(kernel="poly", degree=3, C=0.025)
svcp.fit(X_train,y_train)
svcp_pred1 = svcp.predict(X_test)
svcp.score(X_test,y_test)

0.7872340425531915

In [76]:
svcr = SVC(kernel="rbf", C=1, gamma=2)
svcr.fit(X_train,y_train)
svcr_pred2 = svcr.predict(X_test)
svcr.score(X_test,y_test)

0.7659574468085106

In [77]:
from sklearn.ensemble import ExtraTreesClassifier
ETC = ExtraTreesClassifier(n_estimators=10, min_samples_split=2)
ETC.fit(X_train,y_train)
ETC_pred = ETC.predict(X_test)
ETC.score(X_test,y_test)

0.9858156028368794

In [78]:
#cathboost
from catboost import CatBoostClassifier
cb = CatBoostClassifier(iterations=100,depth=10,random_state=42,auto_class_weights='Balanced')
cb.fit(X_train,y_train)
cb_pred=cb.predict(X_test)
cb.score(X_test,y_test)

Learning rate set to 0.066538
0:	learn: 0.6611973	total: 160ms	remaining: 15.8s
1:	learn: 0.6323714	total: 172ms	remaining: 8.42s
2:	learn: 0.6102866	total: 183ms	remaining: 5.91s
3:	learn: 0.5663816	total: 185ms	remaining: 4.43s
4:	learn: 0.5366898	total: 188ms	remaining: 3.57s
5:	learn: 0.5189443	total: 198ms	remaining: 3.1s
6:	learn: 0.4825818	total: 200ms	remaining: 2.65s
7:	learn: 0.4676077	total: 211ms	remaining: 2.42s
8:	learn: 0.4406869	total: 212ms	remaining: 2.14s
9:	learn: 0.4244099	total: 224ms	remaining: 2.01s
10:	learn: 0.4016859	total: 225ms	remaining: 1.82s
11:	learn: 0.3876007	total: 239ms	remaining: 1.75s
12:	learn: 0.3664371	total: 244ms	remaining: 1.63s
13:	learn: 0.3552381	total: 258ms	remaining: 1.58s
14:	learn: 0.3325746	total: 259ms	remaining: 1.47s
15:	learn: 0.3083768	total: 260ms	remaining: 1.36s
16:	learn: 0.2901035	total: 261ms	remaining: 1.27s
17:	learn: 0.2793375	total: 270ms	remaining: 1.23s
18:	learn: 0.2654632	total: 275ms	remaining: 1.17s
19:	learn: 0.2541831	total: 278ms	remaining: 1.11s
20:	learn: 0.2453764	total: 284ms	remaining: 1.07s
21:	learn: 0.2307628	total: 285ms	remaining: 1.01s
22:	learn: 0.2209365	total: 287ms	remaining: 960ms
23:	learn: 0.2148056	total: 300ms	remaining: 950ms
24:	learn: 0.2010041	total: 301ms	remaining: 902ms
25:	learn: 0.1960662	total: 313ms	remaining: 892ms
26:	learn: 0.1901520	total: 321ms	remaining: 868ms
27:	learn: 0.1877243	total: 335ms	remaining: 860ms
28:	learn: 0.1794926	total: 338ms	remaining: 827ms
29:	learn: 0.1752567	total: 356ms	remaining: 830ms
30:	learn: 0.1655899	total: 359ms	remaining: 799ms
31:	learn: 0.1593422	total: 364ms	remaining: 773ms
32:	learn: 0.1537801	total: 371ms	remaining: 754ms
33:	learn: 0.1457672	total: 372ms	remaining: 723ms
34:	learn: 0.1375969	total: 373ms	remaining: 692ms
35:	learn: 0.1334809	total: 376ms	remaining: 668ms
36:	learn: 0.1290507	total: 387ms	remaining: 659ms
37:	learn: 0.1266563	total: 401ms	remaining: 654ms
38:	learn: 0.1239835	total: 415ms	remaining: 649ms
39:	learn: 0.1204572	total: 421ms	remaining: 631ms
40:	learn: 0.1190192	total: 434ms	remaining: 624ms
41:	learn: 0.1135025	total: 434ms	remaining: 600ms
42:	learn: 0.1096059	total: 435ms	remaining: 577ms
43:	learn: 0.1047840	total: 436ms	remaining: 555ms
44:	learn: 0.1033308	total: 449ms	remaining: 549ms
45:	learn: 0.1016947	total: 462ms	remaining: 543ms
46:	learn: 0.0971141	total: 464ms	remaining: 523ms
47:	learn: 0.0918120	total: 464ms	remaining: 503ms
48:	learn: 0.0905952	total: 479ms	remaining: 498ms
49:	learn: 0.0887443	total: 484ms	remaining: 484ms
50:	learn: 0.0863611	total: 496ms	remaining: 477ms
51:	learn: 0.0845247	total: 508ms	remaining: 469ms
52:	learn: 0.0822259	total: 511ms	remaining: 453ms
53:	learn: 0.0789295	total: 511ms	remaining: 436ms
54:	learn: 0.0753851	total: 512ms	remaining: 419ms
55:	learn: 0.0710807	total: 513ms	remaining: 403ms
56:	learn: 0.0676989	total: 514ms	remaining: 387ms
57:	learn: 0.0652271	total: 515ms	remaining: 373ms
58:	learn: 0.0639424	total: 526ms	remaining: 366ms
59:	learn: 0.0627394	total: 529ms	remaining: 353ms
60:	learn: 0.0620249	total: 538ms	remaining: 344ms
61:	learn: 0.0603769	total: 543ms	remaining: 333ms
62:	learn: 0.0596975	total: 548ms	remaining: 322ms
63:	learn: 0.0584714	total: 559ms	remaining: 314ms
64:	learn: 0.0556280	total: 559ms	remaining: 301ms
65:	learn: 0.0551257	total: 569ms	remaining: 293ms
66:	learn: 0.0538790	total: 575ms	remaining: 283ms
67:	learn: 0.0524501	total: 576ms	remaining: 271ms
68:	learn: 0.0501468	total: 577ms	remaining: 259ms
69:	learn: 0.0496681	total: 588ms	remaining: 252ms
70:	learn: 0.0485203	total: 591ms	remaining: 241ms
71:	learn: 0.0470857	total: 594ms	remaining: 231ms
72:	learn: 0.0465930	total: 603ms	remaining: 223ms
73:	learn: 0.0458255	total: 606ms	remaining: 213ms
74:	learn: 0.0452064	total: 615ms	remaining: 205ms
75:	learn: 0.0436952	total: 616ms	remaining: 195ms
76:	learn: 0.0435084	total: 625ms	remaining: 187ms
77:	learn: 0.0432141	total: 633ms	remaining: 179ms
78:	learn: 0.0418421	total: 634ms	remaining: 169ms
79:	learn: 0.0410853	total: 637ms	remaining: 159ms
80:	learn: 0.0405885	total: 640ms	remaining: 150ms
81:	learn: 0.0388336	total: 640ms	remaining: 141ms
82:	learn: 0.0382226	total: 642ms	remaining: 131ms
83:	learn: 0.0377894	total: 646ms	remaining: 123ms
84:	learn: 0.0372503	total: 652ms	remaining: 115ms
85:	learn: 0.0367649	total: 661ms	remaining: 108ms
86:	learn: 0.0356128	total: 662ms	remaining: 98.9ms
87:	learn: 0.0352387	total: 667ms	remaining: 90.9ms
88:	learn: 0.0343380	total: 668ms	remaining: 82.5ms
89:	learn: 0.0332436	total: 669ms	remaining: 74.3ms
90:	learn: 0.0324092	total: 671ms	remaining: 66.3ms
91:	learn: 0.0322227	total: 680ms	remaining: 59.2ms
92:	learn: 0.0317943	total: 684ms	remaining: 51.5ms
93:	learn: 0.0312601	total: 685ms	remaining: 43.7ms
94:	learn: 0.0309793	total: 690ms	remaining: 36.3ms
95:	learn: 0.0306951	total: 700ms	remaining: 29.2ms
96:	learn: 0.0304167	total: 709ms	remaining: 21.9ms
97:	learn: 0.0300399	total: 717ms	remaining: 14.6ms
98:	learn: 0.0298747	total: 722ms	remaining: 7.29ms
99:	learn: 0.0296115	total: 733ms	remaining: 0us

1.0

In [79]:
from sklearn.linear_model import LogisticRegression 
Reg = LogisticRegression()
Reg.fit(X_train,y_train)
Reg_predict =Reg.predict(X_test)

In [80]:
CM=confusion_matrix(y_test,Reg_predict)
print("Confusion Matrix:\n",CM)
CR=classification_report(y_test,Reg_predict)
print("Performance:\n",CR)

Confusion Matrix:
 [[107   0]
 [  0  34]]
Performance:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       107
           1       1.00      1.00      1.00        34

    accuracy                           1.00       141
   macro avg       1.00      1.00      1.00       141
weighted avg       1.00      1.00      1.00       141

In [81]:
from sklearn.tree import DecisionTreeClassifier 
tree = DecisionTreeClassifier()
tree.fit(X_train,y_train)
tree_predict = tree.predict(X_test)
tree.score(X_test,y_test)

1.0

In [82]:
CM=confusion_matrix(y_test,tree_predict)
print("Confusion Matrix:\n",CM)
CR=classification_report(y_test,tree_predict)
print("Performance:\n",CR)

Confusion Matrix:
 [[107   0]
 [  0  34]]
Performance:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       107
           1       1.00      1.00      1.00        34

    accuracy                           1.00       141
   macro avg       1.00      1.00      1.00       141
weighted avg       1.00      1.00      1.00       141

In [83]:
from xgboost import XGBClassifier
xb = XGBClassifier()
xb.fit(X_train,y_train)
xb_pred = xb.predict(X_test)
xb.score(X_test,y_test)

[14:41:59] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

1.0

In [84]:
CM=confusion_matrix(y_test,xb_pred)
print("Confusion Matrix:\n",CM)
CR=classification_report(y_test,xb_pred)
print("Performance:\n",CR)

Confusion Matrix:
 [[107   0]
 [  0  34]]
Performance:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       107
           1       1.00      1.00      1.00        34

    accuracy                           1.00       141
   macro avg       1.00      1.00      1.00       141
weighted avg       1.00      1.00      1.00       141

0.7562149532710281

0.044609929078014185

0.7562149532710281

In [88]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
scaled_x = scaler.transform(X)

In [89]:
from sklearn.decomposition import PCA
pca = PCA(n_components=15)
pca.fit(scaled_x)
pca_x = pca.transform(scaled_x)
pca_x.shape

(703, 15)

In [90]:
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import GridSearchCV

param_grid = {'C': [0.1, 1, 10, 100, 1000],
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']}
 
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3)
grid.fit(pca_x, y)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.730 total time=   0.0s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.730 total time=   0.0s
[CV 3/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.730 total time=   0.0s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.736 total time=   0.0s
[CV 5/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.729 total time=   0.0s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.915 total time=   0.0s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.915 total time=   0.0s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.851 total time=   0.0s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.929 total time=   0.0s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.900 total time=   0.0s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.957 total time=   0.0s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.943 total time=   0.0s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.936 total time=   0.0s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.964 total time=   0.0s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.929 total time=   0.0s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.736 total time=   0.0s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.729 total time=   0.0s
[CV 1/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 2/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 3/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 4/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.736 total time=   0.0s
[CV 5/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.729 total time=   0.0s
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.794 total time=   0.0s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.780 total time=   0.0s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.745 total time=   0.0s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.786 total time=   0.0s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.771 total time=   0.0s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.965 total time=   0.0s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.986 total time=   0.0s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.965 total time=   0.0s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.979 total time=   0.0s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.971 total time=   0.0s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.979 total time=   0.0s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.986 total time=   0.0s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.965 total time=   0.0s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.993 total time=   0.0s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.957 total time=   0.0s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.957 total time=   0.0s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.957 total time=   0.0s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.972 total time=   0.0s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.971 total time=   0.0s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.929 total time=   0.0s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.730 total time=   0.0s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.736 total time=   0.0s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.729 total time=   0.0s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.794 total time=   0.0s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.794 total time=   0.0s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.759 total time=   0.0s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.807 total time=   0.0s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.771 total time=   0.0s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.972 total time=   0.0s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.965 total time=   0.0s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.993 total time=   0.0s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.971 total time=   0.0s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.965 total time=   0.0s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.986 total time=   0.0s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.965 total time=   0.0s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.957 total time=   0.0s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.957 total time=   0.0s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.957 total time=   0.0s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.972 total time=   0.0s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.971 total time=   0.0s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.929 total time=   0.0s
[CV 1/5] END ........C=100, gamma=1, kernel=rbf;, score=0.794 total time=   0.0s
[CV 2/5] END ........C=100, gamma=1, kernel=rbf;, score=0.794 total time=   0.0s
[CV 3/5] END ........C=100, gamma=1, kernel=rbf;, score=0.759 total time=   0.0s
[CV 4/5] END ........C=100, gamma=1, kernel=rbf;, score=0.807 total time=   0.0s
[CV 5/5] END ........C=100, gamma=1, kernel=rbf;, score=0.771 total time=   0.0s
[CV 1/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.972 total time=   0.0s
[CV 2/5] END ......C=100, gamma=0.1, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.965 total time=   0.0s
[CV 4/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.993 total time=   0.0s
[CV 5/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.971 total time=   0.0s
[CV 1/5] END .....C=100, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 2/5] END .....C=100, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END .....C=100, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 4/5] END .....C=100, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 5/5] END .....C=100, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 1/5] END ....C=100, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 2/5] END ....C=100, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END ....C=100, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 4/5] END ....C=100, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 5/5] END ....C=100, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 1/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.965 total time=   0.0s
[CV 2/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.986 total time=   0.0s
[CV 3/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.965 total time=   0.0s
[CV 4/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 5/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.964 total time=   0.0s
[CV 1/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.794 total time=   0.0s
[CV 2/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.794 total time=   0.0s
[CV 3/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.759 total time=   0.0s
[CV 4/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.807 total time=   0.0s
[CV 5/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.771 total time=   0.0s
[CV 1/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.972 total time=   0.0s
[CV 2/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.965 total time=   0.0s
[CV 4/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.993 total time=   0.0s
[CV 5/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.971 total time=   0.0s
[CV 1/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 2/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 4/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 5/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=1.000 total time=   0.0s
[CV 1/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 2/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 4/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 5/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 1/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 2/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 3/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 4/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=1.000 total time=   0.0s
[CV 5/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=1.000 total time=   0.0s

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=3)

In [91]:
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import mutual_info_classif
svm = SVC(C= 15, gamma= 3.0, kernel= 'rbf')
svm_y_pre = cross_val_predict(svm, pca_x, y, cv=12)
svm_sc = accuracy_score(y, svm_y_pre) * 100
svm_sc = "{:.2f}".format(svm_sc)
print(svm_sc)

77.67